{% extends 'index.html' %}
{%block content%}

<!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Flask Login</h1>
        <h2 >
            <p style = "color: #14cff5"  > <strong> Digital Tools </strong> based on      A|R|A philosophy.</h2></p> 

        <a class="btn btn-outline-info" href="{{url_for('login')}}">Login</a>&nbsp &nbsp
        <a class="btn btn-outline-info" href="{{url_for('register')}}">Register</a>
        <br><br>
        <footer class="footer text-center">
            <div class="container px-4 px-lg-5">
                <ul class="list-inline mb-5">
                   
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white" href="https://github.com/zora89/flask_auth_blueprint"><i class="icon-social-github"></i></a>
                        
                    </li>
                    <li>
                    <p class="text-muted small mb-0"> <br> Code Base Above</p>
                </li>    
                </ul>
                
                <p class="text-muted small mb-0"> <br> <br><br>Copyright &copy; Zorawar Purohit  2022</p>
            </div>
        </footer>
        
    </div>
</header>

{% endblock %}