{% extends 'index.html' %}

{%block content%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page Coming Up</h1> 
    <br>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        &nbsp &nbsp{{ form.email }}
        <br>
        &nbsp &nbsp{{ form.password }}
        <br><br>
        &nbsp &nbsp{{ form.submit }}
    </form>
    <br>
    &nbsp &nbsp Don't have an account ? <a href="{{url_for('register')}}">Sign Up !  </a> 
</body>
</html>

{% endblock %}