{% extends 'index.html' %}

{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register Page Coming Up</h1> 
    <br>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        &nbsp &nbsp{{ form.name }}
        <br>
        &nbsp &nbsp{{ form.email }}
        <br>
        &nbsp &nbsp{{ form.password }}
        <br><br>
        &nbsp &nbsp{{form.submit(class="btn btn-outline-info")}}
    </form>
    <br>
     &nbsp &nbsp Already have an account ?<a href="{{url_for('login')}}"> Sign In ! </a> <br><br>
    
</body>
</html>

{% endblock %}